.what-i-can-do__header {
  color: var(--color-periwinkle-gray);

  @extend %header;
}

.what-i-can-do__title {
  color: var(--color-fiord);
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.what-i-can-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.what-i-can-do__skill {
  border: 0.1rem solid var(--color-periwinkle-gray);
  padding: 1rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  white-space: nowrap;
  border-radius: 0.3rem;
} 