-
  var header = '#what I can do'
  var whatICanDoList = [
    {
      title: 'Front End',
      skillList: [
        'HTML5',
        'CSS3',
        'JavaScript',
        'jQuery',
        'Pug',
        'Sass',
        'Bootstrap',
        'React',
        'AngularJs',
        'Backbone',
        'SEO',
        'Responsive Web Design'
      ]
    },
    {
      title: 'BackEnd',
      skillList: [
        'FireBase',
        'Git',
        'CLI',
        'Gulp',
        'Node.js',
        'Npm',
        'SFTP'
      ]
    },
    {
      title: 'Tools',
      skillList: [
        'Windows',
        'Linux',
        'Mac',
        'Chrome',
        'Firefox',
        'Bing Webmaster Tools',
        'Google Webmaster Tools',
        'Google AdWords',
        'Google Analytics',
        'Google Shopping',
        'Google My Business',
        'Google Docs / Sheets',
        'Browser Developer Tools',
        'MailChimp',
        'Microsoft 365',
        'Adobe Illustrator / Photoshop',
        'Netsuite'
      ]
    }
  ];
#what-i-can-do
.what-i-can-do
  .what-i-can-do__header=header
  each whatICanDo in whatICanDoList
    .what-i-can-do__title=whatICanDo.title
    .what-i-can-do__list
      each skill in whatICanDo.skillList
        .what-i-can-do__skill=skill 