.menu {
  padding: 2rem;
  background-color: var(--color-white);
  position: relative;
}

.menu__list {
  margin: 2rem;
  border: 0.1rem solid var(--color-manatee);
  border-radius: 0.5rem;
}

.menu__link {
  display: block;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--color-gumbo);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-gumbo);

  &:last-child {
    border: 0;
  }
}

.menu__label {
  padding: 0 1rem;
}

.menu__go-to {
  background-color: var(--color-fiord);
  color: var(--color-white);
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}