.menu__list {
  margin: 2rem;
  border: 0.1rem solid var(--color-manatee);
  border-radius: 0.5rem;
}

.menu__link {
  display: block;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--color-gumbo);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-gumbo);

  &:last-child {
    border: 0;
  }
}

.menu__label {
  padding: 0 1rem;
}