.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#cdebf7, #059fdb)
}

.landing-page__wrapper {
  text-align: center;
}

.landing-page__title {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.landing-page__sub-title {
  font-size: 3rem;
}

.landing-page__social {
  display: inline-flex;
  margin-top: 3rem;
}

.landing-page__social-item {
  color: #fff;
  padding: 0.1rem 0.3rem;
  font-size: 1.8rem;
  cursor: pointer;
}