// get colour names from http://chir.ag/projects/name-that-color/
:root {
  --color-cerulean: #059FDB;
  --color-humming-bird: #CDEBF7;
  --color-white: #FFF;
  --color-trinidad: #DB4105;
  --color-mandys-pink: #F4C6B4;
  }
  // $color-geraldine: #fb9e91;
  // $color-terracotta: #e97568;
  // $color-white: #fff;
  // $color-manatee: #8a8fa2;
  // $color-fiord: #415a67; 