// make use of the custom font 'my-cv'
@font-face {
  font-family: 'my-cv';
  src:
    url('asset/font/my-cv.ttf?th1s1sr4nd0m') format('truetype'),
    url('asset/font/my-cv.woff?th1s1sr4nd0m') format('woff'),
    url('asset/font/my-cv.svg?th1s1sr4nd0m#my-cv') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Apply the next declaration to all tags which have a class
// that starts with my-cv__icon-- or contains my-cv__icon--
[class^="my-cv__icon--"], [class*=" my-cv__icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-cv' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// List of font icons
.my-cv__icon--file-word:before {
  content: "\eae1";
}

.my-cv__icon--home:before {
  content: "\e900";
}

.my-cv__icon--map2:before {
  content: "\e94c";
}

.my-cv__icon--calendar:before {
  content: "\e953";
}

.my-cv__icon--hammer:before {
  content: "\e996";
}

.my-cv__icon--trophy:before {
  content: "\e99e";
}

.my-cv__icon--briefcase:before {
  content: "\e9ae";
}

.my-cv__icon--airplane:before {
  content: "\e9af";
}

.my-cv__icon--menu3:before {
  content: "\e9bf";
}

.my-cv__icon--earth:before {
  content: "\e9ca";
}

.my-cv__icon--wondering:before {
  content: "\e9fb";
}

.my-cv__icon--plus:before {
  content: "\ea0a";
}

.my-cv__icon--info:before {
  content: "\ea0c";
}

.my-cv__icon--google-plus2:before {
  content: "\ea8c";
}

.my-cv__icon--facebook2:before {
  content: "\ea91";
}

.my-cv__icon--twitter:before {
  content: "\ea96";
}

.my-cv__icon--youtube:before {
  content: "\ea9d";
}

.my-cv__icon--github:before {
  content: "\eab0";
}

.my-cv__icon--skype:before {
  content: "\eac5";
}

.my-cv__icon--linkedin:before {
  content: "\eac9";
}

.my-cv__icon--html-five:before {
  content: "\eae4";
}
.my-cv__icon--stackoverflow:before {
  content: "\ead0";
}