input.landscape__input(type="checkbox", id="landscape")
.landscape
  label.landscape__button(for="landscape")
    .landscape__meesage--show Show message
    .landscape__meesage--hide Hide message
  .landscape__body
    p.landsape__description You screen is in landscape mode
    p.landsape__description To view the website at its best you can:
    ul.landscape__list
      li.landscape__item rotate your device in portratit
      li.landscape__item resize your browser to portratit
      li.landscape__item ignore all the above and hide this message