extends _modules/layout/page
block config
  -
    var myTitleForGoogle = 'The resume of a ninja'
    var myDescriptionForGoogle = 'Check this moves out'
block content
  include _modules/landing-page/landing-page
  include _modules/about-me/about-me